<footer class="main-footer">
    <div class="logobot">
        <img src="img/este_si3.png" width="150" alt="LogoMPC">
    </div>
    <div class="qrcode">
        <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DIpLO91jzlH4&s=6&e=m"
            width="130" alt="Generador de Códigos QR Codes" />

    </div>
    <div>
        <h5>NOSOTROS</h5>
        <ul>
            <li><a href="#">¿Quienes somos?</a></li>
            
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
        </ul>
    </div>
    <div>
        <h5>AYUDA</h5>
        <ul>
            <li><a href="#">Soporte Técnico</a></li>
            <li><a href="#">Cambios y Devoluciones</a></li>
            
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Formulario de arrepentimiento</a></li>
        </ul>
    </div>
    <div>
        <h5>INSCRIBITE</h5>
        <form class="formulario">
            <input type="email" placeholder="dejanos tu mail" required>
            <p>
                <input type="submit" value="ENVIAR">
            </p>
            <div class="form" action="#" method="GET">
        </form>

    </div>
    </div>
    <div>
        <h5>CONTACTO</h5>
        <ul>
            <li><a href="">mpc-soporte@gmail.com </a></li>
            <li> 42241569 </li>
            <li> 1560498896</li>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
        </ul>
    </div>
</footer>