<header class="main-header">

    <div class="primero">

        <div class="Logo">
            <a href="/"><img src="/img/este_si3.png" width="150" alt="LogoMPC"></a>
        </div>


        
        <div class="segundo">
           <form class="form0" action="#" method="GET">
    
            <input class="la-bara" type="text" name="barra" placeholder="Buscar productos, marcas">
    
             <button class="submitt" type="submit" name="barra"><i class="fa fa-search"></i></button>
    
             </form>
        </div>
        


        <div class="inicio">
            <div class="user-cirlcle"><a href="/login"><i class="fas fa-user-circle"></i></a></div>
            <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
        </div>

    </div>

   


    <nav class="tercero">
        <div class="nav-barr">
            <ul>
                <li><a href="#">Productos </a></li>
                <li><a href="#">Encontra tu equipo</a></li>
                <li><a href="#">Arma tu pc</a></li>
                <li><a href="/perfil">Mi cuenta</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </div>
    </nav>

    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>