<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">

    <title>MPC</title>
</head>
<body>
    <header class="main-header">

        <div class="primero">

            <div class="Logo">
                <a href="/"><img src="/img/este_si3.png" width="150" alt="LogoMPC"></a>
            </div>


            
            <div class="segundo">
               <form class="form" action="#" method="GET">
        
                <input class="la-bara" type="text" name="barra" placeholder="Buscar productos, marcas">
        
                 <button class="submitt" type="submit" name="barra"><i class="fa fa-search"></i></button>
        
                 </form>
            </div>
            


            <div class="inicio">
                <div class="user-cirlcle"><a href="/login"><i class="fas fa-user-circle"></i></a></div>
                <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
            </div>

        </div>

       


        <nav class="tercero">
            <div class="nav-barr">
                <ul>
                    <li><a href="#">Productos </a></li>
                    <li><a href="#">Encontra tu equipo</a></li>
                    <li><a href="#">Arma tu pc</a></li>
                    <li><a href="/perfil">Mi cuenta</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
        </nav>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <!-- </header> -->


    <main class="main-main">
        <section class="last-visit">
            <section class="banner">
                <img src="img/banner.png" alt="Banner" width=100%>
            </section>

            <h3>Productos Destacados</h3>

            <div class="products">
                <article>
                    <div class="imagenes">
                        <a href="#"> <img src="img/fotopc11.jpg" alt="producto" width="360" class="product_img"></a>
                    </div>
                    <div class="main-article">
                        
                        <p class="price">$ 77.144</p>
                        <p class="discount">Envío Gratis</p>
                        <h3 class="description"> Pc De Escritorio Armada Computadora I5 16gb 480gb mouse + teclado + gift</h3>
                        <button class="botone3"><a href="/ProductDetail" class="letra3">Ver más </a></button>
                    </div>
                </article>
                <article>
                    <img src="img/placa.jpg" alt="producto" width="360" class="product_img">
                    <div class="main-article">
                        
                        <p class="price">$125.000</p>
                        <p class="discount">Envío Gratis</p>
                        <h3 class="description">Placa de Video Asrock Radeon RX 580 8GB GDDR5 Phantom Gaming Elite</h3>
                        <button class="botone3"><a href="/" class="letra3">Ver más </a></button>
                    </div>
                </article>
                <article>
                    <img src="img/kit.jpg" alt="producto" width="360" class="product_img">
                    <div class="main-article">
                        
                        <p class="price">$4.000</p>
                        <p class="discount">Envío Gratis</p>
                        <h3 class="description">Kit Marvo Scorpion 4 en 1 SP Teclado RGB + Mouse + Auriculares + Mouse Pad</h3>
                        <button class="botone3"><a href="/ProductDetail" class="letra3">Ver más </a></button>
                    </div>
                </article>
                <article>
                    <img src="img/procesador2.png" alt="producto" width="360" class="product_img">
                    <div class="main-article">
                       
                        <p class="price">$ 45.900</p>
                        <p class="discount">Envío Gratis</p>
                        <h3 class="description">Procesador AMD RYZEN 7 3700X 4.4 GHz AM4 Wraith Prism RGB Led Cooler</h3>
                        <button class="botone3"><a href="/ProductDetail" class="letra3">Ver más </a></button>
                    </div>
                </article>
            </div>
            <br>
            <section class="banner">
                <img src="img/bannerAbajoo.png" alt="Banner" width=100%>
            </section>
            
        </section>
    </main>

    <footer class="main-footer">
        <div class="logobot">
            <img src="img/este_si3.png" width="150" alt="LogoMPC">
        </div>
        <div class="qrcode">
            <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DIpLO91jzlH4&s=6&e=m"
                width="130" alt="Generador de Códigos QR Codes" />

        </div>
        <div>
            <h5>NOSOTROS</h5>
            <ul>
                <li><a href="#">¿Quienes somos?</a></li>
                
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
            </ul>
        </div>
        <div>
            <h5>AYUDA</h5>
            <ul>
                <li><a href="#">Soporte Técnico</a></li>
                <li><a href="#">Cambios y Devoluciones</a></li>
                
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Formulario de arrepentimiento</a></li>
            </ul>
        </div>
        <div>
            <h5>INSCRIBITE</h5>
            <form class="formulario">
                <input type="email" placeholder="dejanos tu mail" required>
                <p>
                    <input type="submit" value="ENVIAR">
                </p>
                <div class="form" action="#" method="GET">
            </form>

        </div>
        </div>
        <div>
            <h5>CONTACTO</h5>
            <ul>
                <li><a href="">mpc-soporte@gmail.com </a></li>
                <li> 42241569 </li>
                <li> 1560498896</li>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </ul>
        </div>
    </footer>
</body>
</html>