<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
     

<body>

    <%- include('./partials/header') %> 

    <!-- </header> -->

    <main class="main-main">
        <section class="last-visit">
            <section class="banner">
                <img src="img/banner.png" alt="Banner" width=100%>
            </section>

            <h3>Productos Destacados</h3>

            <div class="products">
                <article>
                    <div class="imagenes">
                        <a href="#"> <img src="img/fotopc11.jpg" alt="producto" width="360" class="product_img"></a>
                    </div>
                    <div class="main-article">
                        
                        <p class="price">$ 77.144</p>
                        <p class="discount">Envío Gratis</p>
                        <h3 class="description"> Pc De Escritorio Armada Computadora I5 16gb 480gb mouse + teclado + gift</h3>
                        <button class="botone3"><a href="/ProductDetail" class="letra3">Ver más </a></button>
                    </div>
                </article>
                <article>
                    <img src="img/placa.jpg" alt="producto" width="360" class="product_img">
                    <div class="main-article">
                        
                        <p class="price">$125.000</p>
                        <p class="discount">Envío Gratis</p>
                        <h3 class="description">Placa de Video Asrock Radeon RX 580 8GB GDDR5 Phantom Gaming Elite</h3>
                        <button class="botone3"><a href="/" class="letra3">Ver más </a></button>
                    </div>
                </article>
                <article>
                    <img src="img/kit.jpg" alt="producto" width="360" class="product_img">
                    <div class="main-article">
                        
                        <p class="price">$4.000</p>
                        <p class="discount">Envío Gratis</p>
                        <h3 class="description">Kit Marvo Scorpion 4 en 1 SP Teclado RGB + Mouse + Auriculares + Mouse Pad</h3>
                        <button class="botone3"><a href="/ProductDetail" class="letra3">Ver más </a></button>
                    </div>
                </article>
                <article>
                    <img src="img/procesador2.png" alt="producto" width="360" class="product_img">
                    <div class="main-article">
                       
                        <p class="price">$ 45.900</p>
                        <p class="discount">Envío Gratis</p>
                        <h3 class="description">Procesador AMD RYZEN 7 3700X 4.4 GHz AM4 Wraith Prism RGB Led Cooler</h3>
                        <button class="botone3"><a href="/ProductDetail" class="letra3">Ver más </a></button>
                    </div>
                </article>
            </div>
            <br>
            <section class="banner">
                <img src="img/bannerAbajoo.png" alt="Banner" width=100%>
            </section>
            
        </section>
    </main>

    <%- include('./partials/footer') %> 
    
</body>
</html>