<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/login.css">

<body>

    <%- include('./partials/header') %> 

<main>
    <div class="formulario">

        <h1 class="b-de-vuelta">Bienvenido de vuelta</h1>
        <p class="b-verte">Que bueno verte otra vez :D</p>


        <form action="/" method="POST">

            <div class="login">
                    <label for="e-mail">Correo</label>
                    <input type="email" name="email" id="e-mail" placeholder="Ej: ejemplo@gmail.com" required>


                    <label for="contraeña">Contraseña</label>
                    <input type="password" name="password" id="contraeña" placeholder="Tu contraseña" required>


                    <button class="inicio" type="submit"><a href="/">Iniciar Sesión</a> </button>
                

                <div class="avisos">

                    <div class="olvidar">
                        <a href="/recuperar" class="olv"> - Olvidé mi contraseña -</a>
                        
                        </div>
                    <div class="cuenta-regist">
                    <p class="b-verte">¿Aún no tienes una cuenta?</p> 

                    <a href="/register" class="regist">>>Regístrate</a>
                    </div>

                    
                    </div>
                    
                </div>

            </div>
            
        </form>
    </div>

</main>

    <%- include('./partials/footer') %> 
    
</body>
</html>