<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    

<body>

    <%- include('./partials/header') %>


    <main class="main-perfil">
          
        <div class="perfil">
            <img src="img/bulma1.jpg" alt="FotoPerfil" width="200">
            <label>Nombre: Tomás</label>
            <label>Apellido: Hurtado</label>
            <label>Nombre de usuario: Ruby Kurosawa</label>
            <label>E-mail: tomas@gmail.com</label>
            <label>Telefono: 4270-3014</label>
        </div>
        
        <div>
            <div><h1>Ultima Compra </h1></div>
            <div class="productos">
                <img src="/img/Ram.jpg" width="100" alt="ram">
                <div>Memora PNY DDR4 8GB 3200MHz XLR8 Epic RGB </div>
                <div class="cant">
                    Cantidad: 2 
                </div>
                <div>Total $ 77.144</div>
                
            </div>
        </div>
    </main>    

    <%- include('./partials/footer') %> 
    
</body>
</html>