<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="main-header">

        <div class="primero">

            <div class="Logo">
                <a href="/"><img src="/img/este_si3.png" width="150" alt="LogoMPC"></a>
            </div>


            
            <div class="segundo">
               <form class="form" action="#" method="GET">
        
                <input class="la-bara" type="text" name="barra" placeholder="Buscar productos, marcas">
        
                 <button class="submitt" type="submit" name="barra"><i class="fa fa-search"></i></button>
        
                 </form>
            </div>
            


            <div class="inicio">
                <div class="user-cirlcle"><a href="/login"><i class="fas fa-user-circle"></i></a></div>
                <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
            </div>

        </div>

       


        <nav class="tercero">
            <div class="nav-barr">
                <ul>
                    <li><a href="#">Productos </a></li>
                    <li><a href="#">Encontra tu equipo</a></li>
                    <li><a href="#">Arma tu pc</a></li>
                    <li><a href="/perfil">Mi cuenta</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
        </nav>

       

    </header>
       
        <main>
          
            <div class="perfil">
                <img src="img/bulma1.jpg" alt="FotoPerfil" width="200">
                <label>Nombre: Tomás</label>
                <label>Apellido: Hurtado</label>
                <label>Nombre de usuario: Ruby Kurosawa</label>
                <label>E-mail: tomas@gmail.com</label>
                <label>Telefono: 4270-3014</label>
            </div>
            
            <div>
                <div><h1>Ultima Compra </h1></div>
                <div class="productos">
                    <img src="/img/Ram.jpg" width="100" alt="ram">
                    <div>Memora PNY DDR4 8GB 3200MHz XLR8 Epic RGB </div>
                    <div class="cant">
                        Cantidad: 2 
                    </div>
                    <div>Total $ 77.144</div>
                    
                </div>
            </div>
        </main>            
    
        <footer class="main-footer">
            <div class="logobot">
                <img src="img/este_si3.png" width="150" alt="LogoMPC">
                </div>
            <div class="qrcode">
                <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DIpLO91jzlH4&s=6&e=m" width="130" alt="Generador de Códigos QR Codes"/>
                
            </div>
            <div>
                <h5>NOSOTROS</h5>
                <ul>
                    <li><a href="#">¿Quienes somos?</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div>
                <h5>AYUDA</h5>
                <ul>
                    <li><a href="#">Soporte Técnico</a></li>
                    <li><a href="#">Cambios y Devoluciones</a></li>
                    <li><a href="#">Medios de Pagos Habilitados</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Formulario de arrepentimiento</a></li>
                </ul>
            </div>
            <div>
                <h5>INSCRIBITE</h5>
                <form class="formulario">
                <input type="email" placeholder= "dejanos tu mail" required>
                <p>
                    <input type="submit" value="ENVIAR">
                    </p>
                <div class="form" action="#" method="GET">
                </form>
                
                </div>
            </div>
            <div>
                <h5>CONTACTO</h5>
                <ul>
                    <li><a href="">mpc-soporte@gmail.com </a></li>
                    <li> 42241569 </li>
                    <li> 1560498896</li>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                </ul>
            </div>
        </footer>
</body>
</html>