<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>

    <%- include('./partials/header') %> 


    <main>
        <section class="last-visit">
        <div class="container">
            <div class="card">
                <div class="Background">
                    
                    <h1 class="foto1"h1></h1>
                    <img src="img/fotopc1.png" alt="pc" >
            
                </div>
                <div class="info">
                    <div class="name">
                        <div>
                            <h1>Pc De Escritorio Armada Computadora I5 16gb 480gb</h1>
                        </div>
                    </div>
                    <div class="description">
                        <h3 class="title">ESPECIFICACIONES</h3>
                        <p class="text">Procesador: Intel Core i5 - 4 Nucleos, 3.30Ghz Max, 4 Subprocesos Memoria Ram: 16Gb Almacenamiento: 480Gb SSD Gabinete: Sentey / Overtech OV-710 / PCBOX Incluye Teclado, Mouse y Parlante.

                        <br>
                        - Ideal para uso escolar y clases online.
                        <br>
                        -Stock disponible.
                        <br>
                        -codigo de producto 1000.
                        </p>
                    </div>
                
                    <div class="size-container">
                        <h3 class="title">Compralo en 12 cuotas de $10.939</h3> 
                    </div>
                    <div class="buy-price">
                        <a href="#" class="buy"></a>
                        <div class="price22">
                            <button class="botone"><a href="/ProductCart" class="letra3">Agregar a carrito </a></button>
                            <i class="fas fa-dollar-sign"></i>
                            <h1>77.144</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="caja2">

            <div class="subtitulo">
                <h2>También te puede interesar</h2>
            </div>

<!-- </body> -->

        <div class="products">
            <article>
                <div class="imagenes">
                    <a href="#"> <img src="img/fotopc11.jpg" alt="producto" width="360" class="product_img"></a>
                </div>
                <div class="main-article">
                    
                    <p class="price">$ 77.144</p>
                    <p class="discount">Envío Gratis</p>
                    <h3 class="description"> Pc De Escritorio Armada Computadora I5 16gb 480gb mouse + teclado + gift</h3>
                    <button class="botone3"><a href="/ProductDetail" class="letra3">Ver más </a></button>
                </div>
            </article>
            <article>
                <img src="img/placa.jpg" alt="producto" width="360" class="product_img">
                <div class="main-article">
                    
                    <p class="price">$125.000</p>
                    <p class="discount">Envío Gratis</p>
                    <h3 class="description">Placa de Video Asrock Radeon RX 580 8GB GDDR5 Phantom Gaming Elite</h3>
                    <button class="botone3"><a href="/" class="letra3">Ver más </a></button>
                </div>
            </article>
            <article>
                <img src="img/kit.jpg" alt="producto" width="360" class="product_img">
                <div class="main-article">
                    
                    <p class="price">$4.000</p>
                    <p class="discount">Envío Gratis</p>
                    <h3 class="description">Kit Marvo Scorpion 4 en 1 SP Teclado RGB + Mouse + Auriculares + Mouse Pad</h3>
                    <button class="botone3"><a href="/ProductDetail" class="letra3">Ver más </a></button>
                </div>
            </article>
            <article>
                <img src="img/procesador2.png" alt="producto" width="360" class="product_img">
                <div class="main-article">
                
                    <p class="price">$ 45.900</p>
                    <p class="discount">Envío Gratis</p>
                    <h3 class="description">Procesador AMD RYZEN 7 3700X 4.4 GHz AM4 Wraith Prism RGB Led Cooler</h3>
                    <button class="botone3"><a href="/ProductDetail" class="letra3">Ver más </a></button>
                </div>
            </article>
        </div>
    </section>
    </main>
    <br>


    <%- include('./partials/footer') %> 
    
</body>
</html>