<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>  
    

<body>

    <%- include('./partials/header') %>

    <main class="main-productCart">
        <div class="Caja">
            <div class="titulo-compra">
                <h2> <i class="fas fa-shopping-cart"></i>Mis compras </h2>
                
            </div>
            
        </div>


        <div class="produc-precio" >

            <div class="table-responsive">
                <table class="table1">
                    <thead class="tabla-productos">
                    
                            <tr>
                                <th>Producto</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Precio </th>
                                <th>Monto Total</th>
                            </tr>
                        
                    </thead>

                    
                    <tbody>
                        <div class="productos">
                        
                                <tr>
                                    <td><img src="/img/fotopc1.png" width="100" alt="ram"></td>
                                    <td><div> Pc De Escritorio Armada Computadora I5 16gb 480gb</div></td>
                                    <td><select name="select">
                                        <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select></td>
                                    <td><div>$ 77.144</div></td>
                                    <td><div>$ 77.144</div></td>
                                </tr>
                        
                        </div>

                        <div class="productos">
                            
                                <tr></tr>
                                    <td><img src="/img/placa.jpg" width="100" alt="placa"></td>
                                    <td><div>Placa de Video Sentey AMD Radeon RX 580 8Gb GDDR5</div></td>
                                    <td><select name="select">
                                        <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select></td>
                                    <td><div>$ 59.999</div></td>
                                    <td><div>$ 59.999</div></td>
                                </tr>
                        
                        </div>

                        <div class="productos">
                            
                                <tr>
                                    <td><img src="/img/kit.jpg" width="100" alt="kit"></td>
                                    <td><div>Kit Teclado Mouse Auriculares y Mousepad Strike Me Gamer CM-406 Combo RGB</div></td>
                                    <td><select name="select">
                                        <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select></td>
                                    <td><div>$ 3.199</div></td>
                                    <td><div>$ 3.199</div></td>
                                </tr>
                                
                        </div>

                    </tbody>
                </table>

                <div class="padret2">
                    <table class="table2">
                        <thead>
                                <tr>
                                    <th>Tipo de Entrega</th>
                                    <th></th>
                                </tr>
                        </thead>

                        <tbody>
                            <div class="radio">
                                <tr>
                                    <td>
                                    <input type="radio" id="local" name="entregas" value="local">
                                    <label for="local">Local (Calle falta123)</label>
                                    </td>
                                    <td>
                                        <input type="radio" id="domicilio" name="entregas" value="domicilio">
                                        <label for="domicilio">Domicilio (Calcular envío)</label>
                                    </td>
                                    
                                </tr>
                            </div>
                     
                        </tbody>
                    </table>
                </div>

                <div class="padret3"></div>
                    <table class="table3">
                        <thead>
                            <tr>
                                <th>Método de pago</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <div class="radio">
                                <tr>
                                    <td>
                                    <input type="radio" id="tarjeta" name="pago" value="tarjeta">
                                    <label for="tarjeta">Tarjeta</label>
                                    </td>
                                    <td>
                                        <input type="radio" id="efectivo" name="pago" value="efectivo">
                                        <label for="efectivo">Efectivo</label>        
                                    </td>
                                    
                                </tr>
                            </div>
                            <!--<div class="radio">
                                <tr>
                                    <td>
                                        <input type="radio" id="efectivo" name="pago" value="efectivo">
                                        <label for="efectivo">Efectivo</label>        
                                    </td>
                                </tr>
                            </div>-->
                        </tbody>
                    </table>
                </div>


                <div class="padre4">
                    <table class="table4">
                        <thead >
                                <tr>
                                    <th>Monto final</th>
                                </tr>

                        </thead>

                        <tbody>
                            <div>
                                <tr>
                                    <td class="final-precio">$140.342</td>
                                </tr>
                            </div>
                        </tbody>

                    </tbody>
                
                    </table>
                
            </div>


            <!--boton comentado-->
            <div class="padre-boton">
                <button class="borde22"><a href="/resumen" class="botone44">Continuar</a></button>
            
            </div> <br>
        </div><br>

    </main>

    <%- include('./partials/footer') %> 
    
</body>
</html>