<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <title>productCart</title>
</head>
<body>
    <!--header comentado
    <header class="main-header">

        <div class="primero">

            <div class="Logo">
                <a href="/"><img src="/img/este_si3.png" width="150" alt="LogoMPC"></a>
            </div>


            
            <div class="segundo">
               <form class="form" action="#" method="GET">
        
                <input class="la-bara" type="text" name="barra" placeholder="Buscar productos, marcas">
        
                 <button class="submitt" type="submit" name="barra"><i class="fa fa-search"></i></button>
        
                 </form>
            </div>
            


            <div class="inicio">
                <div class="user-cirlcle"><a href="/login"><i class="fas fa-user-circle"></i></a></div>
                <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
            </div>

        </div>

       


        <nav class="tercero">
            <div class="nav-barr">
                <ul>
                    <li><a href="#">Productos </a></li>
                    <li><a href="#">Encontra tu equipo</a></li>
                    <li><a href="#">Arma tu pc</a></li>
                    <li><a href="/perfil">Mi cuenta</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
        </nav>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

    </header>
   -->
        <main>
            <div class="Caja">
                <div class="titulo-compra">
                    <h2> <i class="fas fa-shopping-cart"></i>Mis compras </h2>
                    
                </div>
                
            </div>


            <div class="produc-precio" >

                <div class="table-responsive">
                    <table class="table1">
                        <thead class="tabla-productos">
                        
                                <tr>
                                    <th>Producto</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Precio </th>
                                    <th>Monto Total</th>
                                </tr>
                            
                        </thead>

                        
                        <tbody>
                            <div class="productos">
                            
                                    <tr>
                                        <td><img src="/img/fotopc1.png" width="100" alt="ram"></td>
                                        <td><div> Pc De Escritorio Armada Computadora I5 16gb 480gb</div></td>
                                        <td><select name="select">
                                            <option value="1" selected>1</option>
                                            <option value="2" >2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select></td>
                                        <td><div>$ 77.144</div></td>
                                        <td><div>$ 77.144</div></td>
                                    </tr>
                            
                            </div>

                            <div class="productos">
                                
                                    <tr></tr>
                                        <td><img src="/img/placa.jpg" width="100" alt="placa"></td>
                                        <td><div>Placa de Video Sentey AMD Radeon RX 580 8Gb GDDR5</div></td>
                                        <td><select name="select">
                                            <option value="1" selected>1</option>
                                            <option value="2" >2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select></td>
                                        <td><div>$ 59.999</div></td>
                                        <td><div>$ 59.999</div></td>
                                    </tr>
                            
                            </div>

                            <div class="productos">
                                
                                    <tr>
                                        <td><img src="/img/kit.jpg" width="100" alt="kit"></td>
                                        <td><div>Kit Teclado Mouse Auriculares y Mousepad Strike Me Gamer CM-406 Combo RGB</div></td>
                                        <td><select name="select">
                                            <option value="1" selected>1</option>
                                            <option value="2" >2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select></td>
                                        <td><div>$ 3.199</div></td>
                                        <td><div>$ 3.199</div></td>
                                    </tr>
                                    
                            </div>

                        </tbody>

                    <div class="padret2">
                        <table class="table2">
                            <thead>
                                    <tr>
                                        <th>Tipo de Entrega</th>
                                        <th></th>
                                    </tr>
                            </thead>

                            <tbody>
                                <div class="radio">
                                    <tr>
                                        <td>
                                        <input type="radio" id="local" name="entregas" value="local">
                                        <label for="local">Local (Calle falta123)</label>
                                        </td>
                                        <td>
                                            <input type="radio" id="domicilio" name="entregas" value="domicilio">
                                            <label for="domicilio">Domicilio (Calcular envío)</label>
                                        </td>
                                        
                                    </tr>
                                </div>
                         
                            </tbody>
                        </table>
                    </div>

                    <div class="padret3"></div>
                        <table class="table3">
                            <thead>
                                <tr>
                                    <th>Método de pago</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <div class="radio">
                                    <tr>
                                        <td>
                                        <input type="radio" id="tarjeta" name="pago" value="tarjeta">
                                        <label for="tarjeta">Tarjeta</label>
                                        </td>
                                        <td>
                                            <input type="radio" id="efectivo" name="pago" value="efectivo">
                                            <label for="efectivo">Efectivo</label>        
                                        </td>
                                        
                                    </tr>
                                </div>
                                <!--<div class="radio">
                                    <tr>
                                        <td>
                                            <input type="radio" id="efectivo" name="pago" value="efectivo">
                                            <label for="efectivo">Efectivo</label>        
                                        </td>
                                    </tr>
                                </div>-->
                            </tbody>
                        </table>
                    </div>


                    <div class="padre4">
                        <table class="table4">
                            <thead >
                                    <tr>
                                        <th>Monto final</th>
                                    </tr>

                            </thead>

                            <tbody>
                                <div>
                                    <tr>
                                        <td class="final-precio">$140.342</td>
                                    </tr>
                                </div>
                            </tbody>

                        </tbody>
                    
                        </table>
                    
                </div>


                <!--boton comentado-->
                <div class="padre-boton">
                    <button class="borde22"><a href="/resumen" class="botone44">Continuar</a></button>
                
                </div> <br>
            </div>


            <!--<table class="table table-striped">
        <tr>
            <th>Titulo</th>
            <th>Comandos</th>
        </tr>-->
        </main>
        
        <!--footer comentado
        <footer class="main-footer">
            <div class="logobot">
                <img src="img/este_si3.png" width="150" alt="LogoMPC">
                </div>
            <div class="qrcode">
                <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DIpLO91jzlH4&s=6&e=m" width="130" alt="Generador de Códigos QR Codes"/>
                
            </div>
            <div>
                <h5>NOSOTROS</h5>
                <ul>
                    <li><a href="#">¿Quienes somos?</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div>
                <h5>AYUDA</h5>
                <ul>
                    <li><a href="#">Soporte Técnico</a></li>
                    <li><a href="#">Cambios y Devoluciones</a></li>
                    <li><a href="#">Medios de Pagos Habilitados</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Formulario de arrepentimiento</a></li>
                </ul>
            </div>
            <div>
                <h5>INSCRIBITE</h5>
                <form class="formulario">
                <input type="email" placeholder= "dejanos tu mail" required>
                <p>
                    <input type="submit" value="ENVIAR">
                    </p>
                <div class="form" action="#" method="GET">
                </form>
                
                </div>
            </div>
            <div>
                <h5>CONTACTO</h5>
                <ul>
                    <li><a href="">mpc-soporte@gmail.com </a></li>
                    <li> 42241569 </li>
                    <li> 1560498896</li>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                </ul>
            </div>
        </footer> 
        -->
</body>
</html>