<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

    
<body>

    <%- include('./partials/header') %> 


    <main class="main-resumen">
        <div class="Caja">
            <div class="titulo-compra">
        
                <h2 class="h2-compras"> <i class="fas fa-shopping-cart"></i>Mis compras</h2>
                
            </div>
            
        </div>
        <div class="produc-precio">
            <div class="tabla-responsiva2">
            <table class="table11">
            
                <thead class="tabla-productos">
                   
                        <tr>
                            <th>Productos</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio$</th>
                            <th>Total$</th>
                        </tr>
                    
                </thead>

                <tbody>
                <div class="productos">
                   
                        <tr>
                            <td><img src="/img/fotopc1.png" width="100" alt="ram"></td>
                            <td><div>Pc De Escritorio Armada Computadora I5 16gb 480gb</div></td>
                            <td><select name="select">
                                <option value="1" selected>1</option>
                                <option value="2" >2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select></td>
                            <td><div>$ 77.144</div></td>
                            <td><div>$ 77.144</div></td>
                        </tr>
                 
                </div>

                <div class="productos">
                    
                        <tr></tr>
                            <td><img src="/img/placa.jpg" width="100" alt="placa"></td>
                            <td><div>Placa de Video Sentey AMD Radeon RX 580 8Gb GDDR5</div></td>
                            <td><select name="select">
                                <option value="1" selected>1</option>
                                <option value="2" >2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select></td>
                            <td><div>$ 59.999</div></td>
                            <td><div>$ 59.999</div></td>
                        </tr>
                
                </div>

                <div class="productos">
                    
                        <tr>
                            <td><img src="/img/kit.jpg" width="100" alt="kit"></td>
                            <td><div>Kit Teclado Mouse Auriculares y Mousepad Strike Me Gamer CM-406 Combo RGB</div></td>
                            <td><select name="select">
                                <option value="1" selected>1</option>
                                <option value="2" >2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select></td>
                            <td><div>$ 3.199</div></td>
                            <td><div>$ 3.199</div></td>
                        </tr>
                           
                </div>

                
                
                <div class="productos">
                    <tr>
                        <td>
                            <img src="/img/envios.jpg" alt="Envío" width="100">
                        </td>
                        <td>
                            <div>Detalles del envío</div>
                        </td>
                        <td>1                             
                        </td>
                        <td>
                            <div>$ 1000</div>
                        </td>
                        <td>
                            <div>$ 1000</div>
                        </td>
                    </tr>
                    <!--<div>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>$141.342</td>
                        </tr>
                    </div>-->
                    </tbody>
            </table>
                    <div class="padre44">
                        <table class="table44">
                            <thead >
                                    <tr>
                                        <th>Monto final</th>
                                    </tr>

                            </thead>

                            <tbody>
                                <div>
                                    <tr>
                                        <td class="final-precio2">$141.342</td>
                                    </tr>
                                </div>
                            </tbody>


                

                        </table>

            <div class="padre-boton3">
                <button class="boton223"><a href="/" class="letra443">Finalizar compra</a></button>
            </div><br>
            </div>

        </div>

    </main>


    <%- include('./partials/footer') %>
    
</body>
</html>