*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/*header*/
header{
    display: flex;
    flex-direction: column;
    font-family: 'Zen Kurenaido', sans-serif;
    
}

header .primero{
    display: block;

    background: #C5CAE9;
    justify-content: center;
    border: solid 1px;
    border-color: #BDBDBD;
    width: 100%;
}

.Logo{
    margin-left: 40px;
}

.inicio {
    display: none;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 40px;
    height: 40px;
}

.inicio i {
    font-size: 50px;
    margin: auto;
    color: #0829e2be;
}

header .segundo{
    display: flex;
    background-color: #C5CAE9;
    justify-content: center; 
    background: #C5CAE9;
}

header .form{
    display: flex;
    padding: 5px;
}


/**/
.form{
    display: flex;
    width: 100%;
    justify-content: center;
}


.form .la-bara{
    background-color: white;
    border: 1px solid #666;
    color:#666;
    padding: 3px;
    width: 1200px;
    border-radius: 3px;
    height: 35%;
    margin: auto;
}

.form .submitt{
    background-color: #ebebeb;
    border: 1px solid #666;
    color:#000;
    padding: 3px;
    width: 40px;
    border-radius: 3px;
    height: 35%;
    margin: auto;
}
/**/


div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #3F51B5;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}



/**/
.tercero{
    
    background-color: rgb(43, 43, 204);
    background: #3F51B5;  
}

.tercero .nav-barr{
    display: none;

   
}

.nav-barr ul{

    margin: 10px;
    text-align: center;
    list-style-type: none;
}


header .nav-barr a{
    list-style-type: none;
    font-size: 22px;
    text-decoration:none;
    font-weight: bold;
    color: #FFFFFF; 
    text-align: center;
    display: inline-block;

}
header ul li a:hover{
    background: #C5CAE9;
    color: black;
    border-radius: 3px;
}
/*header*/

/*recuperar- ccs*/
.main-recuperar{
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #C5CAE9;
}



.letras-recuperar{
    padding-top: 3px;
    font-size: 20px;
}


/*texto y titulo*/
.titulo-recuperar, .letras-recuperar{
    color: rgb(0, 0, 0);
    font-family: 'Zen Kurenaido', sans-serif;
  
}

.titulo-recuperar{
    font-size: 27px;
}

.recuperar-contraseña, .validar{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
/*texto y titulo*/

/*barritas para llenar*/
/*label{
    color: rgb(0, 0, 0);
}*/

.validar input, .recuperar-contraseña input{
    background-color: #FFFFFF;
    color: black;
}


.recuperar-form input, button{
    max-width: 100%;
    padding: 9px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
    display: flex;
}
/*barritas para llenar*/


/*boton enviar*/
.enviar button  a, .crear button  a{
    color:white;
    text-decoration: none;
}

.enviar button, .crear button {
    max-width: 100%;
    background-color: #1259c3;
    border: solid 1px #666;
}

.enviar button[type='submit']:hover, .crear button[type='submit']:hover{
    background-color: #0022AA;
}

.recuperar-form{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
} 
/*boton enviar*/

/*recuperar- ccs*/


/*footer*/
.main-footer{
    display: flex;
    
    justify-content: space-between;
    font-family: 'Zen Kurenaido', sans-serif;
    text-decoration: none;
    padding: 20px;
    background: #3F51B5
    
}

.main-footer ul li a{
    text-decoration: none;
    color: white;
}
.fomulario{
    padding: 0px 50px;
    color: white;
}
h5{
    color: white;
}
.main-footer ul li {
    text-decoration: none;
    color: white;
    list-style-type:none
}
.main-footer ul i{
    text-decoration: none;
    color: white;
}

.logobot
{
    background-color: #C5CAE9;
    padding: 10px;
    border-radius: 5px;
}
/*footer*/


@media(min-width:361px){
    /*header*/
    header .burger-menu{
        display: none;
    }

    .tercero .nav-barr{
        text-align: center;
        margin: auto;
        display: flex;
        margin: 0 3%;

    }

    header .nav-barr{
        display: flex;
        justify-content: center;
        padding: 0 8px 8px 8px;
    }

    .nav-barr ul{
        display: flex;
    }
    .nav-barr ul a{
        margin: 0 5px;
        display: flex;
        padding: 0 3px;

    }

    /*
    }*/
    .inicio {
        display: flex;
        text-align: center;
        margin: 10px;
        font-size: 20px;
        height: 40px;
        font-size: 25px;
    }
    /*
    }*/
    /*header*/
    

    /*recuperar- ccs*/
    .recuperar-contraseña, .validar{
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    /*recuperar- ccs*/
}



@media(min-width:769px){
    /*header- home- css*/
    header .primero{
        display: flex;
        justify-content: space-between;

    }
    /*header- home- css*/

}


@media screen and (max-width: 900px) {

    /*footer*/
    *{
        padding: 0px;
    }
    
    /*header- home- css*/
    main {
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .titulo-compra{
        display: block;
    }
    /*header- home- css*/

    footer{
      position: relative;
      bottom: 0px;
      text-align: center;
    }
    .main-footer{
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .main-footer ul li {
      margin: 5px 0;
    }
    /*footer*/
    
}